.container {
  width: 85%;
  height: 100%;
  margin-left: 15%;
  padding: .5rem;
  color: var(--color-gray-100);
  /*display: flex;*/
  /*flex-direction: column;*/
}

.header {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 30rem 10rem 10rem;
  height: 4.5rem;
}

.header > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-self: right;
}

.header > div:first-of-type h1 {
  white-space: nowrap;
}

.header > div:first-of-type > div {
  display: flex;
  align-items: center;
}

.header > div:not(:first-of-type) {
  justify-self: center;
  align-self: center;
}

.header i {
  font-size: 2rem;
  cursor: pointer;
}

.header i:hover {
  color: gray;
}

.today,
.zone {
  padding: .2rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: var(--color-gray-600);
}

.today:hover,
.zone:hover {
  background-color: var(--color-gray-500);
}

.zone {
  position: relative;
}

.zone > div {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  background-color: var(--color-gray-600);
  border-radius: .3rem;
}

.zone > div > div {
  background-color: var(--color-gray-500);
  margin: .1rem .2rem;
  border-radius: .2rem;
  cursor: pointer;
  padding: .1rem .3rem;
}

.zone > div > div:hover {
  background-color: var(--color-gray-400);
}

.main {
  width: 100%;
  height: calc(100% - 4.5rem);
}

.grid {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(1rem, 1fr));
  grid-template-rows: 1.2rem repeat(6, minmax(1rem, 1fr));
  gap: .2rem;
}

.first_row {
  display: flex;
  justify-content: center;
}

.grid > div:not(.first_row) {
  color: var(--color-gray-600);
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  border-radius: .5rem;
  display: flex;
  padding-top: .5rem;
  flex-direction: column;
  cursor: pointer;
  border: 3px solid white;
  overflow-y: scroll;
}

.grid > div:not(.first_row)::-webkit-scrollbar {
  width: 0;
}

.grid > div:not(.first_row):hover {
  background-color: var(--color-gray-200);
  border: 3px solid var(--color-primary-400);
}

.grid > div.grayed:hover {
  border: 3px solid var(--color-primary-400);
  background-color: var(--color-gray-400);
}

.grid > .grayed:not(.first_row) {
  background-color: var(--color-gray-300);
  border: 3px solid var(--color-gray-300);
}

.grid > div:not(.first_row) p {
  align-self: center;
}

.grid .today_cal:not(.first_row) p {
  background-color: #981616;
  border-radius: 50%;
  padding: .2rem .5rem;
  color: white;
}

.grid > div:not(.first_row) > div {
  border: 1px solid black;
  padding: .1rem .5rem;
  border-radius: .2rem;
  margin-top: .2rem;
  width: fit-content;
  cursor: pointer;
}

.grid > div:not(.first_row) > div.after_today {
  background-color: #65ce65;
}

.grid > div:not(.first_row) > div.after_today:hover {
  background-color: #41c541;
}

.grid > div:not(.first_row) > div.before_today {
  background-color: #e85959;
}

.grid > div:not(.first_row) > div.before_today:hover {
  background-color: #dc3b3b;
}

.grid > div.grayed:not(.first_row) > div.before_today {
  background-color: #592525;
}

.grid > div.grayed:not(.first_row) > div.before_today:hover {
  background-color: #643434;
}

.grid > div.grayed:not(.first_row) > div.after_today {
  background-color: #175617;
}

.grid > div.grayed:not(.first_row) > div.after_today:hover {
  background-color: #246224;
}