.container {
  width: 85%;
  height: 100%;
  margin-left: 15%;
  padding: .5rem;
  color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 30rem 10rem 10rem;
}

.header > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-self: right;
}

.header > div:first-of-type h1 {
  white-space: nowrap;
}

.header > div:first-of-type > div {
  display: flex;
  align-items: center;
}

.header > div:not(:first-of-type) {
  justify-self: center;
  align-self: center;
}

.header i {
  font-size: 2rem;
  cursor: pointer;
}

.header i:hover {
  color: gray;
}

.today,
.zone {
  padding: .2rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: var(--color-gray-600);
}

.today:hover,
.zone:hover {
  background-color: var(--color-gray-500);
}

.main {
  width: 100%;
  flex: 1 1 100%;
}

.main {
  display: grid;
  grid-template-columns: repeat(7, minmax(1rem, 1fr));
  grid-template-rows: 1.2rem repeat(6, minmax(1rem, 1fr));
  gap: .2rem;
}

.first_row {
  display: flex;
  justify-content: center;
}

.main > div:not(.first_row) {
  color: var(--color-gray-600);
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: .5rem;
  display: flex;
  padding-top: .5rem;
  justify-content: center;
  cursor: pointer;
  border: 3px solid white;
}

.main > div:not(.first_row):hover {
  background-color: var(--color-gray-200);
  border: 3px solid var(--color-primary-400);
}

.main > div.grayed:hover {
  border: 3px solid var(--color-primary-400);
  background-color: var(--color-gray-400);
}

.main > .grayed:not(.first_row) {
  background-color: var(--color-gray-300);
  border: 3px solid var(--color-gray-300);
}

.main .today_cal:not(.first_row) {
  color: red;
}